:root {
    --primary-color: #78BC61;
    --secondary-color: #394648;
    --accent1-color: #2191FB;
    --accent2-color: #FF6F59;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #78BC61;
    --nav-link-color: #394648;
    --nav-hover-link-color: #2191FB;
    --nav-hover-background-color: #FF6F59;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

header {
    padding: 1em;
    background-color: var(--secondary-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 2rem;
    display:flex
}
nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}