@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
        
}

header, h1 {
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
    
}
form {
    display: grid;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 10px;
    background-color: lightgrey;
    border-radius: .4em;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    
}

legend {
    font-size: 20px;
    padding: 7px;
}

label {
    text-align: left;
    padding-right: 10px;
}

input, select, textarea {
    justify-self: right;
    text-align: center;
    padding: 8px;
    font-size: larger;
    width: 300px;
    margin: 10px;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    vertical-align: bottom;
}

button {
    width: 60px;
    text-align: center;
    justify-self: center;
    margin: 10px;
    background-color: lightblue;
}

button:hover {
    background-color: purple;
}

footer {
    justify-self: center;
    margin: 10px;
}
.fort-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
}
.column1 {
    grid-template-columns: 1fr 2fr;
}