@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-bottom: 15px;
    text-align: center;
}

form {
    display: grid;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 450px;
    border-radius: 1em;
    background-color: lightgray;
}

label {
    padding: 10px;
    
}
input, textarea, select {
    width: 400px;
    margin: 10px;
}

.img {
    display: grid;    
    border: 1px solid;
    text-align: center;
    background-color: darkgrey;
    width: 200px;
    margin: auto;
    padding: 10px;
}

button {
    text-align: center;
    background-color: darkblue;
    color: white;
    width: 400px;
    height: 30px;
    margin: 10px;
    border-radius: .3em;
    
}

footer {
    text-align: center;
}