* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 5px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    margin: 1em;
}

main {
    width: 500px;
    
}


aside {
    width: 400px;    
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    bottom: auto;
}

aside img {
    padding: 30px;
    width: 300px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 1px solid black;
    text-align: center;
    
}

/* Class Selectors */

.box {
    margin: 1em;
    border: .5rem solid black;
    padding: 1rem;
    background-color: white;
    color: grey;
}